.darkmode {
  position: relative;
  border-radius: 4px;
  height: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;

  & svg {
    width: 18px;

    fill: var(--darkgray);
    margin: 0 0.5rem;
  }

  & .next-theme-name {
    padding: 0 0.5rem;

    font-family: var(--headerFont);
    font-weight: 700;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;

  .moon-icon {
    display: none;
  }
}

:root[saved-theme="light"] {
  color-scheme: light;

  .day-icon {
    display: none;
  }
}

:root[saved-theme="dark"] .follow-theme {
  filter: invert(100%);
}
