active-homeworks {
    font-family: var(--headerFont);

    p {
        padding: 0;
        margin: 0;
    }

    .homework-list {
        padding: 8px;
        margin: 0;
        margin-top: 12px;
        border-radius: 8px;
        background: var(--lightgray);
        max-height: 200px;

        .title {
            display: flex;
            align-items: center;

            i {
                font-size: 1.75rem;
                margin-right: 8px;
            }

            h1 {
                margin: 0;
            }

            i,
            h1 {
                -webkit-text-fill-color: transparent;

                background-clip: text !important;
                background: linear-gradient(140deg, #D2A8FF 12.09%, #F778BA 42.58%, #FF7B72 84.96%);

                font-family: var(--headerFont);
                font-weight: 800;
            }
        }

        .homework-item {
            list-style: none;
            background: var(--highlight);

            display: flex;
            flex-direction: column;

            cursor: pointer;

            padding: 12px;
            margin-top: 8px;
            border-radius: 8px;

            .title {
                font-size: 1.05rem;
                font-weight: 800;
                color: var(--secondary);
            }

            .metadata {
                display: flex;
                line-height: 1;
                justify-content: space-between;
                flex-grow: 0;
                font-size: 14px;

                .deadline {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--secondary);
                }

                .subject {
                    font-size: 14px;
                    color: var(--gray);
                }
            }
        }

        .no-homework {
            width: 100%;
            min-height: 100px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 1.1rem;
            font-weight: 800;
        }
    }

}