@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 1em;

  cursor: pointer;
  background-color: var(--lightgray);
  padding: 10px 12px 0 12px;
  border-radius: 8px;

  & > .section {
    display: flex;
    flex-direction: column;

    .information {
      display: flex;
      align-items: center;
      width: 100%;

      & > .metadata-date {
        margin: 0;
        opacity: 0.6;
      }

      .tags {
        flex-grow: 1;
      }
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: 6em 1fr !important;

  & > .tags {
    display: none;
  }
}